.cv {
    width: 1000px;
    height: auto;
    margin: 0 auto;
    background-color: blanchedalmond;
}

header {
    display: flex;
    background-color: cadetblue;
}

header img {
    width: 250px;
    height: 200px;
}

 h1 {
   margin: 60px 300px ;
 }

 main {
    display: flex;
 }

 .left {
    background-color: darkcyan;
 }